@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*start header section*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/plants.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
/*end header section*/
/*start connect us section*/
.social {
  color: white;
}
.social1{
  color: white;
}
.social2{
  color:white;
}
.social3{
  color:white;
}
.icons a:hover {
  color: unset;
}
.icons{
  text-shadow: 2px 2px 8px #000;
}
/*end connect us section*/

@media only screen and (max-width:992px){
  .mediaa{
    flex-direction: column-reverse !important;
  }
  .mtt{
    margin-bottom: 30px;
  }
  .hero{
    height: 100vh;
  }
  .item1{
    margin-top: 20px;
  }
  .item2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .item3{
    margin-top: 20px;
  }
  .item4{    
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .item5{
    margin-top: 20px;
  }
  .item6{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
