body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #627254;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #1a4d2e;
}

/*start navbar*/
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #1a4d2e;
}
.nav-link {
  color: #1a4d2e;
}
.navbar-expand-lg {
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
}
.navbar-nav {
  --bs-nav-link-hover-color: var(--bs-nav-link-hover-color);
}
.nav-link:hover {
  color: #627254;
}
.navbar-custom{
  background-color:#0000;
 }
 .navbar-transparent {
  background-color: transparent;
  transition: background-color 1s ease;
}

.navbar-scrolled {
  background-color:white;}

  .dropdown-item{
    color:#1a4d2e;
  }
  .dropdown-menu {   
     --bs-dropdown-link-active-bg:#f1f1f1;
  }

 nav img{
  width:25%;
 }
/*end nav bar */
/*start header*/

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/productsheader.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(178, 193, 184, 0.7);
  opacity: 0;
  text-shadow: 2px 2px 8px #A5C9CA;
}
.hero-text p {
  margin: 0;
  font-weight: 700;
}
.hero-text h2,
.hero-text h1 {
  font-size: 50px;
  color: rgba(178, 193, 184, 0.7);
}
.hero-text.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hero img {
  transition: transform 0.5s ease-in-out;
}

.hero-text.visible + img {
  transform: scale(1.3);
}
/*end header*/
/*start content*/
.image-container {
}
h1,
h2 {
  color: #1a4d2e;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #627254;
}
.hh{
  margin-bottom: 50px;
}
/*start key frames for categerues*/
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.animation-image {
  animation: moveLeftRight 5s infinite;
}
/* end key frames*/
/*end content*/

/* start footer */
.foter {
  color: #627254;
  background-color: #d2e3c8;
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
}

/* end footer*/
/*start media query*/

@media only screen and (max-width: 992px) {
  .reverse {
    flex-direction: column-reverse !important;
  }
  .itemm1 {
    text-align: center;
  }
  .itemm2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .itemm3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mttt {
    margin-top: 20px;
  }
  .hero {
    height: 100vh;
  }
  .hh{
    margin-top: 20px;
  }
 .container{
  width: 90%;
 }
 .navbar-brand img{
  width: 80%;
 }
}

/*end media query *