
/*section 1*/
.productionphoto {
    position: relative;
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
}

.productionphoto img {
    width: 100%;
    height: 60vh; 
    object-fit: cover; 
}

.productionphoto p, .productionphoto h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 0;
}

.productionphoto p {
    top: 35%; 
    font-size: 16px;
}

.productionphoto h2 {
    top: 50%; 
    font-size: 32px; 
    transform: translate(-50%, -50%);
}

.productionphoto a {
    text-decoration: none;
    color: white;
}

.productionphoto a:hover {
    color: #627254; 
}
/*end section 1*/

/*start section 2*/
.paragraphproductionparent
{
    background-color: #f8f9fa;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center;
    box-sizing: border-box; 

}
.paragraphproduction {
    width: 80%;
    height: 80%; 
   
}

.paragraphproduction p {
    color: #627254; 
    letter-spacing: 2px; 
    font-size: 16px;
    line-height: 2; 
    margin: 20px 0; 
}

/*end section 2 */


